[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/mock_interview/venv/bin/uwsgi -i /home/ubuntu/mock_interview/mock_interview_BE/.config/uwsgi/mock_interview.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
